# Data Preprocessing
Step 1: Conver datetime feild to_datetime for all datafiles
Step 2: Merge Machines data to telemetry data

In [3]:
import tensorflow, keras
import pandas
import numpy

from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras.models import Sequential,load_model
from keras.layers import Dense, Dropout, LSTM

Using TensorFlow backend.

In [ ]:
#errors = pandas.read_csv('/Users/abhi/Desktop/Sem 4/BNAD/SQL-Server-R-Services-Samples/PredictiveMaintanenceModelingGuide/Data/errors.csv')
#failures = pandas.read_csv('/Users/abhi/Desktop/Sem 4/BNAD/SQL-Server-R-Services-Samples/PredictiveMaintanenceModelingGuide/Data/failures.csv')
#machines = pandas.read_csv('/Users/abhi/Desktop/Sem 4/BNAD/SQL-Server-R-Services-Samples/PredictiveMaintanenceModelingGuide/Data/machines.csv')
maintain = pandas.read_csv('/Users/abhi/Desktop/Sem 4/BNAD/SQL-Server-R-Services-Samples/PredictiveMaintanenceModelingGuide/Data/maint.csv')
telemetry = pandas.read_csv('/Users/abhi/Desktop/Sem 4/BNAD/SQL-Server-R-Services-Samples/PredictiveMaintanenceModelingGuide/Data/telemetry.csv')

In [ ]:
errors['datetime']=pandas.to_datetime(errors['datetime'])
telemetry['datetime']=pandas.to_datetime(telemetry['datetime'])
maintain['datetime']=pandas.to_datetime(maintain['datetime'])
failures['datetime']=pandas.to_datetime(failures['datetime'])

# Maintain pivot

In [ ]:
comp4 = maintain.iloc[numpy.where(maintain['comp']=='comp4')]
comp3 = maintain.iloc[numpy.where(maintain['comp']=='comp3')]
comp2 = maintain.iloc[numpy.where(maintain['comp']=='comp2')]
comp1 = maintain.iloc[numpy.where(maintain['comp']=='comp1')]

In [ ]:
maintain_pivot_t = (pandas.merge(comp4, comp3, on = ['datetime', 'machineID'], how = 'outer'))
maintain_pivot_t = maintain_pivot_t.rename(columns={maintain_pivot_t.columns[2]:'comp4', maintain_pivot_t.columns[3]:'comp3'})

In [ ]:
maintain_pivot_t2= pandas.merge(maintain_pivot_t, comp2, on = ['datetime', 'machineID'], how = 'outer')

In [ ]:
maintain_pivot= pandas.merge(maintain_pivot_t2, comp1, on = ['datetime', 'machineID'], how = 'outer')

In [ ]:
maintain_pivot.rename(columns={maintain_pivot.columns[2]:'comp4', maintain_pivot.columns[3]:'comp3'})

In [ ]:
maintain_pivot = maintain_pivot.fillna(0)
maintain_pivot.loc[maintain_pivot['comp1'] == 'comp1', 'comp1'] = 1
maintain_pivot.loc[maintain_pivot['comp2'] == 'comp2', 'comp2'] = 1
maintain_pivot.loc[maintain_pivot['comp3'] == 'comp3', 'comp3'] = 1
maintain_pivot.loc[maintain_pivot['comp4'] == 'comp4', 'comp4'] = 1

In [ ]:
maintain_pivot = maintain_pivot.rename(columns={maintain_pivot.columns[2]:'Mantain_comp4',maintain_pivot.columns[3]:'Mantain_comp3',maintain_pivot.columns[4]:'Mantain_comp2', maintain_pivot.columns[5]:'Mantain_comp1'})

In [ ]:
maintain_pivot

# Error Pivot

In [ ]:
error4 = errors.iloc[numpy.where(errors['errorID']=='error4')]
error3 = errors.iloc[numpy.where(errors['errorID']=='error3')]
error2 = errors.iloc[numpy.where(errors['errorID']=='error2')]
error1 = errors.iloc[numpy.where(errors['errorID']=='error1')]

In [ ]:
errors_pivot_t = (pandas.merge(error4, error3, on = ['datetime', 'machineID'], how = 'outer'))
errors_pivot_t = errors_pivot_t.rename(columns={errors_pivot_t.columns[2]:'error4', errors_pivot_t.columns[3]:'error3'})

In [ ]:
errors_pivot_t2= pandas.merge(errors_pivot_t, error2, on = ['datetime', 'machineID'], how = 'outer')
errors_pivot= pandas.merge(errors_pivot_t2, error1, on = ['datetime', 'machineID'], how = 'outer')

In [ ]:
errors_pivot = errors_pivot.rename(columns={errors_pivot.columns[4]:'error2', errors_pivot.columns[5]:'error1'})

In [ ]:
errors_pivot = errors_pivot.fillna(0)
errors_pivot.loc[errors_pivot['error1'] == 'error1', 'error1'] = 1
errors_pivot.loc[errors_pivot['error2'] == 'error2', 'error2'] = 1
errors_pivot.loc[errors_pivot['error3'] == 'error3', 'error3'] = 1
errors_pivot.loc[errors_pivot['error4'] == 'error4', 'error4'] = 1

In [ ]:
print(errors_pivot)

# failures Pivot

In [ ]:
comp4 = failures.iloc[numpy.where(failures['failure']=='comp4')]
comp3 = failures.iloc[numpy.where(failures['failure']=='comp3')]
comp2 = failures.iloc[numpy.where(failures['failure']=='comp2')]
comp1 = failures.iloc[numpy.where(failures['failure']=='comp1')]

In [ ]:
failures_pivot_t = (pandas.merge(comp4, comp3, on = ['datetime', 'machineID'], how = 'outer'))
failures_pivot_t = failures_pivot_t.rename(columns={failures_pivot_t.columns[2]:'comp4', failures_pivot_t.columns[3]:'comp3'})

In [ ]:
failures_pivot_t2= pandas.merge(failures_pivot_t, comp2, on = ['datetime', 'machineID'], how = 'outer')
failures_pivot= pandas.merge(failures_pivot_t2, comp1, on = ['datetime', 'machineID'], how = 'outer')

In [ ]:
failures_pivot = failures_pivot.rename(columns={failures_pivot.columns[4]:'comp2', failures_pivot.columns[5]:'comp1'})

In [ ]:
failures_pivot = failures_pivot.fillna(0)
failures_pivot.loc[failures_pivot['comp1'] == 'comp1', 'comp1'] = 1
failures_pivot.loc[failures_pivot['comp2'] == 'comp2', 'comp2'] = 1
failures_pivot.loc[failures_pivot['comp3'] == 'comp3', 'comp3'] = 1
failures_pivot.loc[failures_pivot['comp4'] == 'comp4', 'comp4'] = 1

In [ ]:
failures_pivot = failures_pivot.rename(columns={failures_pivot.columns[2]:'fail_comp4',failures_pivot.columns[3]:'fail_comp3',failures_pivot.columns[4]:'fail_comp2', failures_pivot.columns[5]:'fail_comp1'})

In [ ]:
failures_pivot

# Data combining process

In [ ]:
fulldata = pandas.merge(telemetry, machines, on = ['machineID'], how = 'outer')

In [ ]:
fulldata

In [ ]:
fulldata1 = pandas.merge(fulldata, errors_pivot, on = ['datetime','machineID'], how = 'outer')
fulldata2 = pandas.merge(fulldata1, maintain_pivot, on = ['datetime','machineID'], how = 'outer')
fulldata3 = pandas.merge(fulldata2, failures_pivot, on = ['datetime','machineID'], how = 'outer')

In [ ]:
fulldata3 = fulldata3.fillna(0)

In [ ]:
print (telemetry.count())
print (errors.count())
print (maintain.count())
print (failures.count())
print(fulldata3.count())

In [ ]:
fulldata3.to_csv('final_sql_data.csv', sep = ',',encoding='utf-8', index=False)

# Read data and continue building Remaining Useful Life feature for failure and maintenance prediction

In [4]:
final_data = pandas.read_csv('final_sql_data.csv')

Process -
1. Add remaining useful life
   if failure exists and last maintenance exist or assume start of time ie first entry of data for perticular machine in telemetry
   Failure of component - Last Maintenance of component
2. generate label columns for training data
   we will only make use of "label1" for binary classification, 
   while trying to answer the question: is a specific engine going to fail within w1 cycles?
   w1 = 30
    w0 = 15
    train_df['label1'] = np.where(train_df['RUL'] <= w1, 1, 0 )
    train_df['label2'] = train_df['label1']
    train_df.loc[train_df['RUL'] <= w0, 'label2'] = 2

In [7]:
final_data = final_data.sort_values('datetime')

In [9]:
final_data

,datetime,machineID,volt,rotate,pressure,vibration,model,age,error4,error3,error2,error1,Mantain_comp4,Mantain_comp3,Mantain_comp2,Mantain_comp1,fail_comp4,fail_comp3,fail_comp2,fail_comp1
8761343,2014-06-01 06:00:00,344,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8761982,2014-06-01 06:00:00,983,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8762655,2014-06-01 06:00:00,690,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8761370,2014-06-01 06:00:00,371,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8764089,2014-06-01 06:00:00,336,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8763447,2014-06-01 06:00:00,581,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8761373,2014-06-01 06:00:00,374,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8763449,2014-06-01 06:00:00,583,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8761387,2014-06-01 06:00:00,388,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8763016,2014-06-01 06:00:00,79,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
8761957,2014-06-01 06:00:00,958,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8762685,2014-06-01 06:00:00,721,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
8761393,2014-06-01 06:00:00,394,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8761395,2014-06-01 06:00:00,396,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8761397,2014-06-01 06:00:00,398,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8761949,2014-06-01 06:00:00,950,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8762691,2014-06-01 06:00:00,727,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8763660,2014-06-01 06:00:00,823,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8763649,2014-06-01 06:00:00,812,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8764399,2014-06-01 06:00:00,708,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8761892,2014-06-01 06:00:00,893,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8764402,2014-06-01 06:00:00,714,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8764126,2014-06-01 06:00:00,386,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8763457,2014-06-01 06:00:00,591,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8763034,2014-06-01 06:00:00,100,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8763015,2014-06-01 06:00:00,78,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8762708,2014-06-01 06:00:00,746,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8761418,2014-06-01 06:00:00,419,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8764416,2014-06-01 06:00:00,732,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8761416,2014-06-01 06:00:00,417,0.000000,0.000000,0.000000,0.000000,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5712171,2016-01-01 06:00:00,652,176.995113,461.425957,100.601843,50.164385,model2,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2750953,2016-01-01 06:00:00,314,138.230943,452.410974,113.326944,42.404154,model3,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5703410,2016-01-01 06:00:00,651,165.425834,444.624998,107.171033,43.743543,model2,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5694649,2016-01-01 06:00:00,650,166.671832,411.558117,79.775070,51.367389,model3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2759714,2016-01-01 06:00:00,315,145.107107,463.997985,98.338444,42.228147,model3,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5685888,2016-01-01 06:00:00,649,196.387251,424.380653,91.649714,43.626596,model1,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8366754,2016-01-01 06:00:00,955,186.156471,472.499388,115.599590,35.450814,model3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2707148,2016-01-01 06:00:00,309,191.342374,468.868734,89.722506,45.320589,model4,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2637060,2016-01-01 06:00:00,301,172.271661,460.937733,93.364317,39.030256,model3,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376722,2016-01-01 06:00:00,43,160.117488,435.525964,125.593217,41.398701,model4,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5755976,2016-01-01 06:00:00,657,168.288023,500.864249,125.594627,39.064708,model3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8331710,2016-01-01 06:00:00,951,184.013668,333.031997,87.930152,46.457567,model1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2645821,2016-01-01 06:00:00,302,169.444159,533.316613,101.414841,42.008910,model2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5817303,2016-01-01 06:00:00,664,181.822730,372.592484,98.289661,38.255267,model4,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2654582,2016-01-01 06:00:00,303,173.785293,442.641440,86.416815,41.025702,model3,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5808542,2016-01-01 06:00:00,663,182.929496,427.715005,87.535642,61.798502,model4,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
385483,2016-01-01 06:00:00,44,165.830188,425.000664,133.840053,37.771940,model2,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2663343,2016-01-01 06:00:00,304,182.968080,467.380712,95.284800,41.223829,model3,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5799781,2016-01-01 06:00:00,662,165.031106,453.217493,105.701616,49.052167,model3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2672104,2016-01-01 06:00:00,305,193.519382,546.916935,95.851298,40.657683,model4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5791020,2016-01-01 06:00:00,661,163.102456,451.807634,104.536078,35.018820,model4,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8340471,2016-01-01 06:00:00,952,155.177947,475.299496,112.417952,38.529740,model3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5782259,2016-01-01 06:00:00,660,186.288654,577.024161,91.364159,46.311239,model1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2680865,2016-01-01 06:00:00,306,165.875718,384.999451,96.770864,33.633612,model1,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5773498,2016-01-01 06:00:00,659,176.488927,438.550566,90.226524,35.463047,model4,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2689626,2016-01-01 06:00:00,307,164.491815,452.860636,102.506109,36.444676,model4,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5764737,2016-01-01 06:00:00,658,168.228592,489.882258,105.339460,43.014108,model1,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2698387,2016-01-01 06:00:00,308,126.183767,399.873786,101.533005,45.917407,model3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8349232,2016-01-01 06:00:00,953,162.391363,506.462349,87.677679,31.763204,model3,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4143952,2016-01-01 06:00:00,473,162.173243,367.156632,102.863048,36.401504,model1,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [34]:
final_data['DateTillMaintain_comp1'] =final_data[(final_data['Mantain_comp1']==1)].datetime
final_data['DateTillMaintain_comp2'] =final_data[(final_data['Mantain_comp2']==1)].datetime
final_data['DateTillMaintain_comp3'] =final_data[(final_data['Mantain_comp3']==1)].datetime
final_data['DateTillMaintain_comp4'] =final_data[(final_data['Mantain_comp4']==1)].datetime

final_data['DateTillFailure_comp1'] =final_data[(final_data['fail_comp1']==1)].datetime
final_data['DateTillFailure_comp2'] =final_data[(final_data['fail_comp2']==1)].datetime
final_data['DateTillFailure_comp3'] =final_data[(final_data['fail_comp3']==1)].datetime
final_data['DateTillFailure_comp4'] =final_data[(final_data['fail_comp4']==1)].datetime

## Not working as desired!!!! time series giving negative response both next repair and next failure

In [35]:
final_data = final_data.fillna(method='bfill')

In [36]:

final_data ['RULtillFail_comp1'] = (pandas.to_datetime(final_data['DateTillFailure_comp1'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')
final_data ['RULtillFail_comp2'] = (pandas.to_datetime(final_data['DateTillFailure_comp2'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')
final_data ['RULtillFail_comp3'] = (pandas.to_datetime(final_data['DateTillFailure_comp3'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')
final_data ['RULtillFail_comp4'] = (pandas.to_datetime(final_data['DateTillFailure_comp4'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')

final_data ['RULtillMaintain_comp1'] = (pandas.to_datetime(final_data['DateTillMaintain_comp1'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')
final_data ['RULtillMaintain_comp2'] = (pandas.to_datetime(final_data['DateTillMaintain_comp2'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')
final_data ['RULtillMaintain_comp3'] = (pandas.to_datetime(final_data['DateTillMaintain_comp3'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')
final_data ['RULtillMaintain_comp4'] = (pandas.to_datetime(final_data['DateTillMaintain_comp4'])- pandas.to_datetime(final_data['datetime'])).astype('timedelta64[h]')

In [37]:
final_data.columns

Index(['datetime', 'machineID', 'volt', 'rotate', 'pressure', 'vibration',
       'model', 'age', 'error4', 'error3', 'error2', 'error1', 'Mantain_comp4',
       'Mantain_comp3', 'Mantain_comp2', 'Mantain_comp1', 'fail_comp4',
       'fail_comp3', 'fail_comp2', 'fail_comp1', 'DateTillMaintain_comp1',
       'DateTillMaintain_comp2', 'DateTillMaintain_comp3',
       'DateTillMaintain_comp4', 'DateTillFailure_comp1',
       'DateTillFailure_comp2', 'DateTillFailure_comp3',
       'DateTillFailure_comp4', 'RULtillFail_comp1', 'RULtillFail_comp2',
       'RULtillFail_comp3', 'RULtillFail_comp4', 'RULtillMaintain_comp1',
       'RULtillMaintain_comp2', 'RULtillMaintain_comp3',
       'RULtillMaintain_comp4', 'comp1_1stwarning', 'comp2_1stwarning',
       'comp3_1stwarning', 'comp4_1stwarning', 'comp1_2ndwarning',
       'comp2_2ndwarning', 'comp3_2ndwarning', 'comp4_2ndwarning'],
      dtype='object')

In [38]:
final_data.to_csv('predictors_sql_data.csv', sep = ',',encoding='utf-8', index=False)

In [39]:
final_data.columns

Index(['datetime', 'machineID', 'volt', 'rotate', 'pressure', 'vibration',
       'model', 'age', 'error4', 'error3', 'error2', 'error1', 'Mantain_comp4',
       'Mantain_comp3', 'Mantain_comp2', 'Mantain_comp1', 'fail_comp4',
       'fail_comp3', 'fail_comp2', 'fail_comp1', 'DateTillMaintain_comp1',
       'DateTillMaintain_comp2', 'DateTillMaintain_comp3',
       'DateTillMaintain_comp4', 'DateTillFailure_comp1',
       'DateTillFailure_comp2', 'DateTillFailure_comp3',
       'DateTillFailure_comp4', 'RULtillFail_comp1', 'RULtillFail_comp2',
       'RULtillFail_comp3', 'RULtillFail_comp4', 'RULtillMaintain_comp1',
       'RULtillMaintain_comp2', 'RULtillMaintain_comp3',
       'RULtillMaintain_comp4', 'comp1_1stwarning', 'comp2_1stwarning',
       'comp3_1stwarning', 'comp4_1stwarning', 'comp1_2ndwarning',
       'comp2_2ndwarning', 'comp3_2ndwarning', 'comp4_2ndwarning'],
      dtype='object')

In [31]:
w1 = 30
w0 = 15
final_data['comp1_1stwarning'] = numpy.where(final_data['RULtillFail_comp1'] <= w1, 1, 0 )
final_data['comp2_1stwarning'] = numpy.where(final_data['RULtillFail_comp2'] <= w1, 1, 0 )
final_data['comp3_1stwarning'] = numpy.where(final_data['RULtillFail_comp3'] <= w1, 1, 0 )
final_data['comp4_1stwarning'] = numpy.where(final_data['RULtillFail_comp4'] <= w1, 1, 0 )
final_data['comp1_2ndwarning'] = final_data['comp1_1stwarning']
final_data['comp2_2ndwarning'] = final_data['comp2_1stwarning']
final_data['comp3_2ndwarning'] = final_data['comp3_1stwarning']
final_data['comp4_2ndwarning'] = final_data['comp4_1stwarning']


final_data.loc[final_data['RULtillFail_comp1'] <= w0, 'comp1_2ndwarning'] = 2
final_data.loc[final_data['RULtillFail_comp2'] <= w0, 'comp2_2ndwarning'] = 2
final_data.loc[final_data['RULtillFail_comp3'] <= w0, 'comp3_2ndwarning'] = 2
final_data.loc[final_data['RULtillFail_comp4'] <= w0, 'comp4_2ndwarning'] = 2

In [41]:
final_data.min()

datetime                  2014-06-01 06:00:00
machineID                                   1
volt                                        0
rotate                                      0
pressure                                    0
vibration                                   0
model                                       0
age                                         0
error4                                      0
error3                                      0
error2                                      0
error1                                      0
Mantain_comp4                               0
Mantain_comp3                               0
Mantain_comp2                               0
Mantain_comp1                               0
fail_comp4                                  0
fail_comp3                                  0
fail_comp2                                  0
fail_comp1                                  0
DateTillMaintain_comp1    2014-06-01 06:00:00
RULtillFail_comp1                           0
RULtillFail_comp2                           0
RULtillFail_comp3                           0
RULtillFail_comp4                           0
RULtillMaintain_comp1                       0
RULtillMaintain_comp2                       0
RULtillMaintain_comp3                       0
RULtillMaintain_comp4                       0
comp1_1stwarning                            0
comp2_1stwarning                            0
comp3_1stwarning                            0
comp4_1stwarning                            0
comp1_2ndwarning                            0
comp2_2ndwarning                            0
comp3_2ndwarning                            0
comp4_2ndwarning                            0
dtype: object

In [40]:
final_data.count()

datetime                  8764644
machineID                 8764644
volt                      8764644
rotate                    8764644
pressure                  8764644
vibration                 8764644
model                     8764644
age                       8764644
error4                    8764644
error3                    8764644
error2                    8764644
error1                    8764644
Mantain_comp4             8764644
Mantain_comp3             8764644
Mantain_comp2             8764644
Mantain_comp1             8764644
fail_comp4                8764644
fail_comp3                8764644
fail_comp2                8764644
fail_comp1                8764644
DateTillMaintain_comp1    8764644
DateTillMaintain_comp2    8764603
DateTillMaintain_comp3    8764603
DateTillMaintain_comp4    8764585
DateTillFailure_comp1     8740280
DateTillFailure_comp2     8740528
DateTillFailure_comp3     8740614
DateTillFailure_comp4     8740267
RULtillFail_comp1         8740280
RULtillFail_comp2         8740528
RULtillFail_comp3         8740614
RULtillFail_comp4         8740267
RULtillMaintain_comp1     8764644
RULtillMaintain_comp2     8764603
RULtillMaintain_comp3     8764603
RULtillMaintain_comp4     8764585
comp1_1stwarning          8764644
comp2_1stwarning          8764644
comp3_1stwarning          8764644
comp4_1stwarning          8764644
comp1_2ndwarning          8764644
comp2_2ndwarning          8764644
comp3_2ndwarning          8764644
comp4_2ndwarning          8764644
dtype: int64

In [45]:
final_data.loc[(final_data['RULtillFail_comp1'])<0, ['datetime','DateTillMaintain_comp1',
       'DateTillMaintain_comp2', 'DateTillMaintain_comp3',
       'DateTillMaintain_comp4', 'DateTillFailure_comp1',
       'DateTillFailure_comp2', 'DateTillFailure_comp3',
       'DateTillFailure_comp4']]

Empty DataFrame
Columns: [datetime, DateTillMaintain_comp1, DateTillMaintain_comp2, DateTillMaintain_comp3, DateTillMaintain_comp4, DateTillFailure_comp1, DateTillFailure_comp2, DateTillFailure_comp3, DateTillFailure_comp4]
Index: []

In [57]:
#final_data=final_data.loc[final_data['volt']>0]
final_data = final_data.dropna()

In [66]:
final_data.columns

Index(['datetime', 'machineID', 'volt', 'rotate', 'pressure', 'vibration',
       'model', 'age', 'error4', 'error3', 'error2', 'error1', 'Mantain_comp4',
       'Mantain_comp3', 'Mantain_comp2', 'Mantain_comp1', 'fail_comp4',
       'fail_comp3', 'fail_comp2', 'fail_comp1', 'DateTillMaintain_comp1',
       'DateTillMaintain_comp2', 'DateTillMaintain_comp3',
       'DateTillMaintain_comp4', 'DateTillFailure_comp1',
       'DateTillFailure_comp2', 'DateTillFailure_comp3',
       'DateTillFailure_comp4', 'RULtillFail_comp1', 'RULtillFail_comp2',
       'RULtillFail_comp3', 'RULtillFail_comp4', 'RULtillMaintain_comp1',
       'RULtillMaintain_comp2', 'RULtillMaintain_comp3',
       'RULtillMaintain_comp4', 'comp1_1stwarning', 'comp2_1stwarning',
       'comp3_1stwarning', 'comp4_1stwarning', 'comp1_2ndwarning',
       'comp2_2ndwarning', 'comp3_2ndwarning', 'comp4_2ndwarning'],
      dtype='object')

In [68]:
train_data = final_data.loc[(final_data['datetime'])<'2015-08-01']
test_data = final_data.loc[(final_data['datetime'])>='2015-08-01']

In [67]:
train_data

,datetime,machineID,volt,rotate,pressure,vibration,model,age,error4,error3,...,RULtillMaintain_comp3,RULtillMaintain_comp4,comp1_1stwarning,comp2_1stwarning,comp3_1stwarning,comp4_1stwarning,comp1_2ndwarning,comp2_2ndwarning,comp3_2ndwarning,comp4_2ndwarning
4987350,2015-04-08 19:00:00,570,172.063971,355.749478,77.690885,39.208310,model3,19.0,0.0,0.0,...,11.0,11.0,1,1,0,1,2,2,0,2
8040992,2015-10-26 09:00:00,918,167.569744,433.647977,98.015338,27.045020,model3,0.0,0.0,0.0,...,21.0,21.0,1,1,1,1,1,1,1,1
2295295,2015-12-28 16:00:00,262,184.480340,501.672262,96.854326,40.380504,model4,20.0,0.0,0.0,...,14.0,14.0,1,1,1,1,2,2,2,2
5407158,2015-03-09 19:00:00,618,163.946017,363.310935,94.670197,49.911571,model4,7.0,0.0,0.0,...,11.0,11.0,1,1,0,1,2,2,0,2
2190443,2015-01-09 07:00:00,251,163.701948,440.768875,108.885708,25.426904,model1,9.0,0.0,0.0,...,23.0,23.0,1,1,1,1,1,1,1,1
3952254,2015-02-13 17:00:00,452,176.633816,444.158320,115.201762,44.640327,model4,4.0,0.0,0.0,...,13.0,13.0,1,1,1,1,2,2,2,2
2988571,2015-02-14 20:00:00,342,172.718198,378.178284,105.346819,43.563661,model2,15.0,0.0,0.0,...,10.0,10.0,1,1,1,1,2,2,2,2
3456273,2015-07-05 05:00:00,395,187.567560,446.140014,101.136013,35.818152,model3,17.0,0.0,0.0,...,1.0,1.0,1,1,1,1,2,2,2,2
1444726,2015-11-27 08:00:00,165,167.654651,542.104450,116.512410,46.435633,model4,19.0,0.0,0.0,...,22.0,22.0,1,1,1,1,1,1,1,1
2675037,2015-05-03 10:00:00,306,170.525226,495.563434,98.416565,38.447296,model1,11.0,0.0,0.0,...,20.0,20.0,1,1,1,1,1,1,1,1
750807,2015-09-13 08:00:00,86,206.402586,488.111998,88.331117,38.544017,model3,2.0,0.0,0.0,...,22.0,22.0,1,1,1,1,1,1,1,1
5151857,2015-01-17 11:00:00,589,172.783096,488.970369,101.430061,41.037984,model4,1.0,0.0,0.0,...,19.0,19.0,1,1,1,1,1,1,1,1
5296042,2015-07-03 12:00:00,605,166.410661,523.956643,101.675496,37.720300,model4,11.0,0.0,0.0,...,18.0,18.0,1,1,1,1,1,1,1,1
4257014,2015-11-27 15:00:00,486,176.762831,356.281391,94.302821,40.514963,model4,19.0,0.0,0.0,...,15.0,15.0,1,1,1,1,2,2,2,2
678792,2015-06-25 01:00:00,78,171.726132,474.658527,93.881259,41.158005,model3,19.0,0.0,0.0,...,5.0,5.0,1,1,1,1,2,2,2,2
3512456,2015-12-02 22:00:00,401,147.063233,290.271213,100.912520,44.272174,model4,6.0,0.0,0.0,...,8.0,8.0,1,1,1,1,2,2,2,2
2457655,2015-07-10 21:00:00,281,172.107517,455.549848,117.521235,42.085760,model4,13.0,0.0,0.0,...,9.0,9.0,1,1,1,1,2,2,2,2
4505921,2015-04-26 13:00:00,515,133.304727,517.473419,100.190649,37.826043,model3,18.0,0.0,0.0,...,17.0,17.0,1,1,1,1,1,1,1,1
317124,2015-03-14 06:00:00,37,177.628447,481.097039,103.155821,39.556842,model4,16.0,0.0,0.0,...,0.0,0.0,1,1,1,1,2,2,2,1
7311790,2015-08-02 10:00:00,835,174.054882,490.989205,99.402728,38.404591,model3,15.0,0.0,0.0,...,20.0,20.0,1,1,1,1,1,1,1,1
4537767,2015-12-14 08:00:00,518,167.340329,455.688335,85.812131,42.060332,model4,19.0,0.0,0.0,...,22.0,22.0,1,1,1,1,1,1,1,1
6879748,2015-04-09 17:00:00,786,185.767754,518.953713,90.237707,36.593404,model4,6.0,0.0,0.0,...,13.0,13.0,1,1,1,1,2,2,2,2
1071662,2015-04-28 18:00:00,123,175.733293,481.037084,85.487972,35.826163,model3,0.0,0.0,0.0,...,12.0,12.0,1,1,1,1,2,2,2,2
7949443,2015-05-15 06:00:00,908,138.910273,384.242713,100.731179,31.587597,model2,15.0,0.0,0.0,...,0.0,0.0,1,1,1,1,1,1,1,1
8341151,2015-01-29 13:00:00,953,142.393894,464.237550,105.526293,40.986740,model3,14.0,0.0,0.0,...,17.0,17.0,1,1,1,1,1,1,1,1
7577318,2015-11-22 20:00:00,865,192.774203,451.427910,100.109007,38.031957,model3,16.0,0.0,0.0,...,10.0,10.0,1,1,1,1,2,2,2,2
8324181,2015-02-21 13:00:00,951,191.177743,442.307763,87.285044,44.768483,model1,6.0,0.0,0.0,...,17.0,17.0,1,1,1,1,1,1,1,1
31117,2015-07-21 16:00:00,4,184.065268,374.401904,109.994937,35.472213,model3,7.0,0.0,0.0,...,14.0,14.0,1,1,1,1,2,2,2,2
2401085,2015-01-25 01:00:00,275,154.706030,472.652338,88.968864,37.204936,model4,20.0,0.0,0.0,...,5.0,5.0,1,1,1,1,2,2,2,2
5418542,2015-06-27 02:00:00,619,159.999696,492.119045,99.158325,41.605723,model3,4.0,0.0,0.0,...,4.0,4.0,1,1,1,1,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7103887,2015-11-08 19:00:00,811,205.732738,400.314269,88.953785,35.605386,model2,9.0,0.0,0.0,...,11.0,11.0,1,1,1,1,2,2,2,2
2550061,2015-01-26 16:00:00,292,161.830400,466.602716,97.850024,37.303121,model3,12.0,0.0,0.0,...,14.0,14.0,1,1,1,1,2,2,2,2
8438753,2015-03-21 20:00:00,964,200.800533,410.328661,93.719103,29.898747,model2,4.0,0.0,0.0,...,10.0,10.0,1,1,1,0,2,2,2,0
4207860,2015-04-18 18:00:00,481,183.549101,427.475406,117.742714,40.245059,model2,10.0,0.0,0.0,...,12.0,12.0,1,1,1,1,2,2,2,2
7737402,2015-03-02 05:00:00,884,198.337700,403.170674,94.789860,35.480436,model3,9.0,0.0,0.0,...,1.0,1.0,1,1,1,1,2,2,2,2
1243768,2015-12-20 01:00:00,142,172.064472,471.889214,105.729660,41.461582,model4,0.0,0.0,0.0,...,5.0,5.0,1,1,1,1,2,2,2,2
5730779,2015-02-15 11:00:00,655,165.415745,433.628105,104.272817,50.493309,model3,17.0,0.0,0.0,...,19.0,19.0,1,1,1,1,1,1,1,1
2732941,2015-12-11 20:00:00,312,151.646752,326.274518,106.362471,37.940770,model4,6.0,0.0,0.0,...,10.0,10.0,1,1,1,1,2,2,2,2
717480,2015-11-23 21:00:00,82,178.746270,467.419183,128.725798,40.610104,model1,11.0,0.0,0.0,...,9.0,9.0,1,1,1,1,2,2,2,2
7350555,2015-01-04 10:00:00,840,159.588580,454.906148,101.409905,31.865105,model3,7.0,0.0,0.0,...,20.0,20.0,1,1,1,1,1,1,1,1
7042707,2015-11-14 22:00:00,804,177.534028,331.606989,113.488904,42.478112,model3,15.0,0.0,0.0,...,8.0,8.0,1,1,1,1,2,2,2,2
4969559,2015-03-28 14:00:00,568,160.923409,382.646182,113.365940,36.828318,model3,8.0,0.0,0.0,...,16.0,16.0,1,1,1,1,1,1,1,1
4404871,2015-10-13 15:00:00,503,187.485810,506.275694,97.135342,45.594223,model4,3.0,0.0,0.0,...,15.0,15.0,1,1,0,1,2,2,0,2
2730294,2015-08-23 13:00:00,312,190.212342,468.956275,93.293868,48.279719,model4,6.0,0.0,0.0,...,17.0,17.0,1,1,1,1,1,1,1,1
5479923,2015-06-29 08:00:00,626,181.839938,456.652450,78.877309,47.542161,model4,1.0,0.0,0.0,...,22.0,22.0,1,1,1,1,1,1,1,1
164751,2015-10-22 03:00:00,19,166.524678,452.665227,108.397930,38.524203,model4,17.0,0.0,0.0,...,3.0,3.0,1,1,1,1,2,2,1,2
2297129,2015-03-15 01:00:00,263,192.353072,435.231007,108.437096,36.450530,model2,8.0,0.0,0.0,...,5.0,5.0,1,1,1,1,2,2,2,2
2178916,2015-09-16 02:00:00,249,166.286668,463.921646,102.762537,43.871098,model2,0.0,0.0,0.0,...,4.0,4.0,1,1,1,1,2,2,2,2
4318624,2015-12-09 10:00:00,493,189.302482,480.771232,100.053529,45.449107,model1,1.0,0.0,0.0,...,20.0,20.0,1,1,1,1,1,1,1,1
2369336,2015-06-11 08:00:00,271,149.844705,362.278525,96.011038,39.706731,model3,13.0,0.0,0.0,...,22.0,22.0,1,1,1,1,1,1,1,1
3879819,2015-11-07 23:00:00,443,165.377121,464.363377,108.962682,47.895421,model3,5.0,0.0,0.0,...,7.0,7.0,1,1,1,1,2,2,2,2
5327883,2015-02-20 01:00:00,609,164.915686,429.011565,100.767829,39.406625,model4,10.0,0.0,0.0,...,5.0,5.0,1,1,1,1,2,2,2,1
3198156,2015-01-17 13:00:00,366,172.972483,452.501087,113.120553,41.471496,model3,0.0,0.0,0.0,...,17.0,17.0,1,1,1,1,1,1,1,1
6503907,2015-05-16 11:00:00,743,154.928125,316.781454,110.703397,43.565791,model3,19.0,0.0,0.0,...,19.0,19.0,1,1,1,1,1,1,1,1
2470854,2015-01-11 18:00:00,283,158.396608,412.082437,94.823272,32.651702,model3,1.0,0.0,0.0,...,12.0,12.0,1,1,1,1,2,2,2,2
5858425,2015-09-11 11:00:00,669,181.967595,515.824329,94.120374,41.161666,model2,11.0,0.0,0.0,...,19.0,19.0,1,1,1,1,1,1,1,1
7185357,2015-02-25 23:00:00,821,210.332171,327.653161,82.389468,35.205021,model4,19.0,0.0,0.0,...,7.0,7.0,1,1,1,1,2,2,2,2
5973270,2015-10-21 03:00:00,682,150.298313,403.473616,90.376435,36.949943,model4,18.0,0.0,0.0,...,3.0,3.0,1,1,1,1,2,2,2,2
4169955,2015-12-20 14:00:00,476,174.253542,404.856369,105.722059,35.917962,model3,0.0,0.0,0.0,...,16.0,16.0,1,1,1,1,1,1,1,1
8614998,2015-05-03 13:00:00,984,171.736591,525.001808,93.897483,34.879303,model3,7.0,0.0,0.0,...,17.0,17.0,1,1,1,1,1,1,1,1

In [58]:
final_data.loc[final_data['datetime']>'2015-05-01', ['datetime','DateTillMaintain_comp1',
       'DateTillMaintain_comp2', 'DateTillMaintain_comp3',
       'DateTillMaintain_comp4', 'DateTillFailure_comp1',
       'DateTillFailure_comp2', 'DateTillFailure_comp3',
       'DateTillFailure_comp4']]

,datetime,DateTillMaintain_comp1,DateTillMaintain_comp2,DateTillMaintain_comp3,DateTillMaintain_comp4,DateTillFailure_comp1,DateTillFailure_comp2,DateTillFailure_comp3,DateTillFailure_comp4
8255736,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
8229453,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
4295764,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
1527288,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
7449724,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
2193124,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
4663726,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
607383,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
8457239,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
1185609,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
7195655,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
808886,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
6748844,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
3954085,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
4339569,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
8649981,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
7405919,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
2648696,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
5934071,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
1798879,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
8658742,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
6775127,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
5452216,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
3883997,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
4654965,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
8282019,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
4602399,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
984106,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
4313286,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
4488506,2015-05-01 00:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00,2015-05-01 06:00:00
...,...,...,...,...,...,...,...,...,...
219000,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
8244076,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
858553,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
7306649,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
1682087,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
4546934,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
7017536,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
8568233,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
4065079,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
1778458,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
7902397,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
7289127,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
8629560,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
3469331,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
6360461,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
1708370,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
35019,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
2190225,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
1384213,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
1909873,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
1287842,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
4292865,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
5808518,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
7183995,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
1568194,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
2558187,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
5116399,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
7963724,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
2926149,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00
6973731,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00,2015-12-31 06:00:00